* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1;
  list-style: none;
}

body {
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
  min-width: 30rem;

  /* make it a display grid */
  /* display: grid; */
  /* grid-template-rows: 1fr 2fr 1fr; */
  /* grid-template-columns: ; */
  /* 3 rows */
  /* 3 columns. Only middle but left/right are empty */
}

header {
  background-image: var(--nav-gradient);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;

  background-size: 500%;
  background-image: var(--nav-gradient);
  --nav-gradient: linear-gradient(45deg, #70b096, #7ba1b5, #73718f);
  animation: navigation-bar-color 30s infinite alternate;
}

@keyframes navigation-bar-color {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

main {
  margin: 2rem 10rem;
}

a {
  text-decoration: none;
}
li a {
    color: black;
    background-color: white;;
}

li {
  /* display: inline-block; */
  color: rgb(223, 223, 223);
  background-color: gray;

}

footer {
  background-color: rgb(46, 45, 45);
  height: 5rem;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-links a {
  margin: 10px;
  color: white;
}

.footer-links a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
