/* global */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  /* line-height: 1; */
}

a {
  text-decoration: none;
}

/* body */

body {
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
  min-width: 50rem;
}

/* header */

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background-size: 500%;
  background-image: var(--nav-gradient);
  --nav-gradient: linear-gradient(45deg, #70b096, #7ba1b5, #73718f);
  animation: navigation-bar-color 30s infinite alternate;
}

@keyframes navigation-bar-color {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.header-links {
  height: 100%;
  max-width: 100rem;
  min-width: 50rem;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* main */

main {
  margin: 2rem 15rem;
}

li a {
  color: black;
  background-color: white;
}

.quick-links {
  color: rgb(223, 223, 223);
  width: 50%;
}

#list-commands,
#github-actions {
  border: 5px solid lightblue;
  border-radius: 5px;
}

#list-commands li,
#github-actions li {
  background-color: gray;
  list-style: none;
}

/* footer */

footer {
  background-color: rgb(46, 45, 45);
  height: 5rem;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: white;
}

.footer-links a {
  margin: 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}
