/* global */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

/* body */
body {
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
  min-width: 30rem;
}

.page-title {
  font-size: 30px;
  position: relative;
  color: white;
}

.page-title-cuts {
  text-decoration: line-through;
}

.git-bash-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.git-bash-logo {
  height: 30px;
  background-color: transparent;
}

img {
  background-color: transparent;
}

/* nav */
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  background-size: 500%;
  background-image: var(--nav-gradient);
  --nav-gradient: linear-gradient(45deg, #ff8080, #8fd25f, #ffe680, #80b3ff);
  animation: navigation-bar-color 30s infinite alternate;
  box-shadow: 0px -17px 30px 9px rgba(0, 0, 0, 0.36);
  border-radius: 0 0 5px 5px;
}

@keyframes navigation-bar-color {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.nav-links {
  height: 100%;
  width: 80rem;
  min-width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.git-bash-div .git-bash-logo {
    padding-right: 8px;
}

/* main */
main {
  max-width: 60rem;
  margin: 2rem auto;
  padding: 0 2rem
}

/* intro */

/* table of contents */
.table-of-contents {
    padding: 1.5rem 0;
}

.table-of-contents-text {
    color: #80b3ff;
}

li a {
  color: black;
  background-color: white;
}

li a:hover{
    font-weight: 600;
}

ul ul {
    margin-left: 1.5rem;
}

.github-commands-tryme {
    font-weight: 600;
    color: #8fd25f;
}

.github-commands-tryme:hover {
    color: black;
}

/* List commands, GitHub Commands */
#list-commands {
    padding: 1rem 0 3rem 0;
}

.list {
    border-bottom: 2px solid rgb(236, 236, 236);
    border-radius: 0 0 10px 10px ;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    min-width: 10rem;
    text-align: center;
}

.list div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10rem;
}

.list li {
    grid-column: 1;
    grid-row: 1;
    padding: 2rem;
}

#list-commands,
#github-commands {
  border-radius: 5px;
}

.code {
  background-color: rgb(240, 247, 249);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid cadetblue
}


/* footer */
footer {
  background-color: #2e2d2d;
  height: 5.5rem;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 3rem;
}

footer a {
  color: white;
  border-radius: 5px 5px 0 0;
}

.footer-reserved {
    color: white;
    padding: 0 1rem;
}

.footer-links a {
  margin: 10px;
  background-color: transparent;
}

.fa-brands {
  font-size: 30px;
}
